/* CSS Media Queries
You have given some HTML code in the boilerplate.
Add the following things to pass all the test cases.


When the width of the screen is less than or equal to 600px the p tag should have a font size of 30 px and background color of "rgb(0, 0, 255)"
When the width of the screen is greater than 600px the p tag should have a font size of 80 px and background color of "rgb(255, 0, 0)" */



/* your code is here */

@media screen and (max-width: 600px) {
    p {
      font-size: 30px;
      background-color: RGB(0, 0, 255);
    }
  }
  @media screen and (min-width: 600px) {
    p {
      font-size: 80px;
      background-color: RGB(255, 0, 0);
    }
  }