/* Media Queries
Boilerplate for HTML and CSS has already been added. In this task, we'll be working with media queries and add the following CSS property to the articles. We will be having a single breakpoint of 800px.

For devices less than or equal to 800px width, the articles should have the following CSS:



Background color should be color rgb(0, 128, 0).


Text should be of color rgb(255, 255, 255).


Give it a padding of 10px.


Make the text within the articles centrally aligned. */


main.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

article {
    height: 250px;
    width: 250px;
    border: 1px solid;
    border-radius: 10px;
}

@media only screen and (max-width: 800px) {
  article {
    background-color: RGB(0, 128, 0);
    color: RGB(255, 255, 255);
    padding: 10px;
    text-align: center;
  }
}