/* Place the Item - 3
You have HTML markup defined, and implement the CSS. Using Flexbox properties on the element "holder".

Make the items appear in a row, such that all elements are evenly placed in the row. Also, put the property on a holder such that if more items are added to the holder they don't squish, and instead just go to the next row.

Do not change the HTML markup, only change the CSS code. "holder" */

.holder {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;      
}
        .item {
            width: 100px;
            height: 100px;
            font-size: 3rem;
        }

        .item-1 {
            background: red;

        }

        .item-2 {
            background: blue;

        }

        .item-3 {
            background: green;

        }