/* Styling Spotify Landing Page - 5
In continuation with the question "Styling Spotify Landing Page - 4", in this question, we are going to add styles to the Main section.

Please solve the question "Styling Spotify Landing Page - 4" before solving this question
Part 5

Add the following styles :



Select the section with the id "students-offer" and add the following styles:


Make the background of color rgb(255, 255, 255) so that it looks like it is a part of the previous section.

Make the text centrally aligned.

Add a padding of 20px in all four directions so that the content is a bit centrally positioned.



Select the buttons within the section and add the following styles:


Give buttons a background color of rgb(255, 255, 255).

Add a top and bottom padding of 12px, and right and left padding of 40px (Use padding shorthand property).

Text font should be the same as the body's font, and the color of the text should be rgb(25, 20, 20).

To make the text bolder, make the font weight value 700.

Give border a radius of 20px.

While the cursor is over the button element, it should be of type pointer.

Font within the button should be the same as the body's font family.

On hover, buttons' size should scale to 1.02.



Select the form and add the following styles:


Add 20px margin from the top to distance the form from the button.

Give form a border of 1px, of type solid, and of color rgb(170, 170, 170). Use border shorthand property.

To make the borders of the form a little rounded from the corners, add a radius to the borders of 10px.

Give a padding of 25px in all four sides.

And, content within the form should be left aligned.



Select the input with the id "email" without adding any class and add the following styles:


Input font should be the same as the body's font family.

Give padding of 5px on all four sides so that there is space between the input text and the border of the input field.

Give 100% width to the input field.

Add 5px margin from the bottom.



Select the input with ids "first-name" and "last-name" without adding classes and add the following styles:


Input font should be the same as the body's font family.

Give padding of 5px on all four sides so that there is space between the input text and the border of the input field.

Give 46% width to the input field.

On devices with a width less than 650px, both input fields' width should increase to 100%.



Select the select tags with ids "country" and "college-university" without adding classes and add the following styles:


Input font should be the same as the body's font family.

Give padding of 5px on all four sides so that there is space between the input text and the border of the input field.

Give 100% width to the input field.

Add 5px margin from the bottom.



Select the input with ids "contact-number" without adding any class and add the following styles:


This input field should occupy its own block, i.e., it should not be next to its label, rather it should be beneath its label. Achieve this using display property.

Input font should be the same as the body's font family.

Give padding of 5px on all four sides so that there is space between the input text and the border of the input field.

Give 100% width to the input field.

Add 10px margin from the bottom to move the next element away from the input field.



Select the input field with the id "consent-checkout" without any adding class and add the following style:


While the cursor is over this element, it should be of type pointer.



Select the button within the form without adding class and add the following styles:


This button should occupy its own block, i.e., it should not be next to its previous element, rather it should be beneath the previous element. Achieve this using display property.

Add 10px margin from the top to give some space between the form content and the form button. */

/* your css code is here */

body {
  margin: 0;
  background-color: rgb(25, 20, 20);
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

nav {
  background-color: rgb(25, 20, 20);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 25px;
}
nav img {
  width: 60px;
  height: 60px;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 15px;
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

li a:hover {
  color: rgb(30, 215, 96);
}
#download {
  background-color: rgb(25, 20, 20);
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
}
main h1 {
  font-weight: 700;
  line-height: 2;
}
main h2 {
  font-weight: 500;
  line-height: 3;
}
main button {
  background-color: rgb(255, 255, 255);
  padding: 12px;
  margin-bottom: 35px;
  font-weight: 500;
  border-radius: 20px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}
button:hover {
  scale: 1.02;
}
@media only screen and (max-width: 595px) {
  main button {
    width: 100%;
  }
}
#difference-table {
  background-color: rgb(246, 246, 246);
  text-align: center;
  padding: 20px 40px;
}
section h1 {
  font-weight: 700;
  padding: 0px 50px;
}
table {
  max-width: 500px;
  margin: auto;
  padding: 20px 45px;
}
table th {
  font-weight: 300;
}
table td {
  border-bottom: 1px solid rgb(170, 170, 170);
}
.fa-circle-check {
  color: rgb(30, 215, 96);
  font-size: 30px;
}
.fa-circle-xmark {
  color: rgb(255, 0, 0);
  font-size: 30px;
}
section button {
  background-color: rgb(25, 20, 20);
  padding: 12px 40px;
  font-weight: 500;
  border-radius: 20px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  color: rgb(255, 255, 255);
}
#premium {
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px;
}
#premium h2 {
  margin: 0;
}
.price-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  text-align: left;
  padding: 20px 100px;
}
.price-cards > article {
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgb(170, 170, 170);
  padding: 20px;
}
article button {
  background-color: rgb(25, 20, 20);
  padding: 12px 40px;
  font-family: inherit;
  font-weight: 500;
  border-radius: 20px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  width: 100%;
}
article button:hover {
  transform: scale(1.02);
}
.card-header {
  border-bottom: 1px solid rgb(170, 170, 170);
}
.card-header span {
  display: inline-block;
  font-size: 0.75rem;
  background-color: rgb(13, 114, 234);
  color: rgb(255, 255, 255);
  padding: 5px;
  font-weight: 500;
  border-radius: 5px;
  margin-bottom: 5px;
}
.card-header h3 {
  margin-bottom: 0;
}
.card-header p {
  margin: 0;
  font-weight: 300;
}
.card-body li {
  font-weight: 500;
}

@media only screen and (max-width: 650px) {
  .price-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    padding: 20px;
  }
  .card-header span {
    display: inline-block;
  }
}
#students-offer {
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px;
}
#students-offer button {
  background-color: rgb(255, 255, 255);
  padding: 12px 40px;
  font-family: inherit;
  color: rgb(25, 20, 20);
  font-weight: 700;
  border-radius: 20px;
  cursor: pointer;
}
#students-offer button:hover {
  transform: scale(1.02);
}
form {
  margin-top: 20px;
  border: 1px solid rgb(170, 170, 170);
  border-radius: 10px;
  padding: 25px;
  text-align: left;
}
#email {
  font-family: inherit;
  padding: 5px;
  width: 100%;
  margin-bottom: 5px;
}
#first-name,
#last-name {
  font-family: inherit;
  padding: 5px;
  width: 46%;
}
@media only screen and (max-width: 542px) {
  #first-name,
  #last-name {
    width: 100%;
  }
}
#country,
#college-university {
  font-family: inherit;
  padding: 5px;
  width: 100%;
  margin-bottom: 5px;
}
#contact-number {
  display: block;
  font-family: inherit;
  padding: 5px;
  width: 100%;
  margin-bottom: 10px;
}
#consent-checkbox {
  cursor: pointer;
}
form button {
  display: block;
  margin-top: 10px;
}
